@import '../../colors.scss';

.useForm{
    display:flex;
    flex-direction: column;
    min-height: 50vh;
    justify-content: space-around;
    padding: 0.8em;
    background-color: $solid;


    input,select {
    all:unset;
    padding: 0.5em;
    border-radius: 0.3em;
    background: $ligth;
    color: $solidDark;
    }
    button {
    all:unset;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 0.3em;
    background: $ligthligth;
    color: $solidDark;
    }
    ::placeholder {
        color:solidDark;
    }
}